.App {
  text-align: center;
  background-color: hsl(180, 52%, 96%);
  
 
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: 150px;
}
.card{
  background-color: hsl(180, 31%, 95%);
  border: 2px solid lightgrey;
  width: 60%;
  padding-bottom: 10px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
}
.innerCard{
  
  width: 45%;
  
  display: flex;
  flex-direction: column;
  justify-content: ;
}
.lowerCard{
  
  display: flex;
  justify-content: flex-start;
}
.lang{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.programlangs{
  color: darkcyan;
  background-color:lightgrey;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company ,.position, .pcl{
  text-align: start;
  padding-left: 20px;
  margin-bottom: 0;
  margin-top: 0;
}
.company{
  color: darkcyan;
}
.pcl{
  color: hsl(180, 14%, 20%);
}